
:root {
    --primary: #007A53;
    --secondary: #FF6720;
    --black60: #0D0D0D;
    --grey60: #16161A;
    --grey50: #242629;
    --grey40: #94A1B2;
    --grey30: #72757E;
    --white40: #FFFFFE;
    --white50: #F2F2F2;
    --tertiary40: #DA291C;

}
body{
  font-family: 'Inter', sans-serif;
  background: var(--white50);
}
h1{
  font-size: 20px;
}
h3{
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.wrapper{
  text-align: center;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-logo{
  width: 40%;
}

.container, .item-list{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 20px;

  padding: 16px;
  margin: 8px;

  display: flex;
}
.info-product{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.container img{
   width: 120px;
}
p{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.item{
  color: var(--black60);
}
.price{
  color: var(--secondary);
}
.products{
  margin-block-end: 40px;
}

  input[type=text]:focus {
      border-color:#333;
  }
  input[type=submit] {
  padding:10px 15px;
  margin-block-end: 8px;

  border:0 none;
  background: #FA4A0C;

  -webkit-border-radius: 5px;
  border-radius: 40px;

  position: fixed;
  bottom: 0;
  z-index:1;
  width: 80%;
  display: flex;
  justify-content: space-around;
  cursor:pointer;

  color: #FFFFFF;
  font-weight: 600;
}

/* carrito */
.list, .total{
  width: 100%;

}
.item-list, .total{
  justify-content: space-around;
}
.total{
  padding: 5px;
}
.item-list img{
  width: 50px;
}
/* fin de carrito */