
:root {
    --primary: #007A53;
    --secondary: #FF6720;
    --black60: #0D0D0D;
    --grey60: #16161A;
    --grey50: #242629;
    --grey40: #94A1B2;
    --grey30: #72757E;
    --white40: #FFFFFE;
    --white50: #F2F2F2;
    --tertiary40: #DA291C;

}
body{
  font-family: 'Inter', sans-serif;
  background: var(--white50);
}
h1{
  font-size: 20px;
}
h3{
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
.wrapper{
  text-align: center;
  padding: 16px;

  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-logo{
  width: 40%;
  margin: 1rem;
}

.container, .item-list{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
  border-radius: 20px;

  padding: 16px;
  margin: 8px;

  display: flex;
}
.container{
  flex: 1;
}
.info-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.container img{
   width: 120px;
}
p{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.item{
  color: var(--black60);
}
.price{
  color: var(--secondary);
}
.products{
  margin-block-end: 40px;
}

  input[type=text]:focus {
      border-color:#333;
  }
  .btn-orange {
  padding:10px 15px;
  margin-block-end: 8px;

  border:0 none;
  background: #FA4A0C;

  -webkit-border-radius: 5px;
  border-radius: 40px;

  /* position: fixed; */
  bottom: 0;
  z-index:1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  cursor:pointer;

  color: #FFFFFF;
  font-weight: 600;
}

/* carrito */
.list, .total{
  width: 100%;

}
.item-list, .total{
  justify-content: space-around;
}
.total{
  padding: 5px;
}
.item-list img{
  width: 50px;
}
#payment{
  /* display: none; */
}
#text-validar{
  padding: 10px;

}
#text-validar p{
  font-size: 20px;

}
/* fin de carrito */

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
  .img-logo{
    width: 20%;
  }
  .products{
    display: flex;
    flex-wrap: wrap;
  }
  .container{
    min-width: 300px;
    max-width: 300px;
  }
  input[type=submit], .btn-volver {
    width: 300px;
  }
  .list{
    width: 50%;
  }
}